@{
    ViewBag.Title = "Create an Report";
}

<h2>Create an Report Page</h2>

<div class="row">
    <div class="col-md-12">
        
        <br/>
        <p>Report is generating now.</p>

        <br />
        <p>@Html.ActionLink("View your reports", "Index", "Home", null, null)</p>

    </div>
</div>